@media screen and (max-width: 1000px) {
    .theme-btn {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .theme-btn-2 {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .header {
        padding: 0;
        min-height: 100vh;
        overflow: scroll;
        margin-left: 2rem;
    }
    .header-content {
        grid-template-columns: repeat(-2, 1fr);
    }
    .header .right-header {
        padding: 0 !important;
        grid-row: 1;
        margin-left: 2rem;
    }
    .header .right-header p {
        margin-left: 50px !important;
        font-size: 17px;
    }
    .header .right-header h1 {
        font-size: 25px;
        font-weight: bolder;
    }
    .left-header .h-shape {
        display: none;
    }

    // .left-header {
    //     margin-left: 3.5rem;
    //     margin-right: 3.5rem;
    // }

    .left-header .image {
        // margin-top: 5rem;
        margin-bottom: 3.5rem;
        width: 30%;
        height: 30% !important ;
        // object-fit:cover;
    }

    .left-header .image img {
        position: relative;
        width: 20% !important;
        height: 50% !important;
    }
    .controls {
        bottom: 0;
        top: auto;
        display: flex;
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-2);
        .control {
            margin: 1rem 0.4rem;
            width: 30px;
            height: 30px;
            font-size: small;
        }
    }

    .section {
        padding: 2rem 2.5rem;
    }

    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            margin-left: 5rem;
            // grid-template-columns: 1fr;
            padding: 0 3rem;
            padding-top: 2.5rem;
            .about-item .abt-text .small-text {
                padding-bottom: 1rem;
            }
        }
        .left-about {
            padding: 2rem;
            p {
                padding: 2rem;
            }
        }
    }

    .about-stats {
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }
    .portfolios {
        grid-template-columns: 1fr !important;
        padding-bottom: 6rem;
        padding-left: 6rem;
    }

    .contact-content-con {
        flex-direction: column;
        padding-right: 1rem;
        .right-contact {
            padding-bottom: 6rem;
            padding-right: 3rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .theme-btn {
        margin-right: 4rem;
    }
    .theme-btn-2 {
        margin-right: 4rem;
    }
    body {
        margin: 8px;
    }
    .bg-text {
        opacity: 0.5;
    }
    .about-container {
        margin-right: 10px;
        .right-about {
            grid-template-columns: 4fr;
            padding-top: 2.5rem;
            padding-right: 6rem;
            .about-item {
                transform: translateX(-40%);
            }
            .abt-text .large-text {
                font-size: 20px;
            }
            .small-text {
                padding-bottom: 1rem;
                font-size: 20px;
            }
        }
        .left-about {
            h4 {
                font-size: 20px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            display: block;
            font-size: 20px;

            transform: translateX(-15%);
            .info {
                display: none;
            }
        }
    }
    .portfolios {
        grid-template-columns: repeat(1, 1fr) !important;
        padding-bottom: 6rem;
        padding-left: 6rem;
    }

    #home {
        overflow: hidden;
    }
    .left-header {
        // margin-left: 1rem;
        display: none !important;
        scroll-behavior: smooth;
    }
    .left-header .image {
        width: 100% !important;
        height: 50% !important;
    }
    .header-content {
        display: flex;
        margin-bottom: 5rem;
    }
    .header-content .right-header .name {
        padding-left: 3rem;
        font-size: 30px;
    }
}

@media screen and (max-width: 1109px) {
    // .left-header .image {
    //    width: 50%;
    //    height: 50px;
    // }

    // .left-header .image img {
    //     width: 50px;
    //     height: 50px;
    // }
}

@media screen and (max-width: 1432px) {
    .contact-content-con {
        margin-right: 6rem;
    }
    .section {
        padding: 2rem 2.5rem;
    }

    .right-about {
        grid-template-columns: 1fr;
        width: 70%;
    }
    .progress-bar {
        width: 90%;
    }
    .header {
        padding: 0;
        overflow-y: scroll;
    }

    .header .right-header p {
        margin-left: 50px !important;
        font-size: 17px;
    }
    .header .right-header h1 {
        font-size: 25px;
        font-weight: bolder;
        margin-right: 5rem;
    }
    // .left-header .h-shape {
    //     // display: none;
    // }

    .left-header .image {
        margin-top: 5rem;
        margin-bottom: 3.5rem;
        width: 70% !important;
        height: 90% !important;
        margin: 10px;
        object-fit: cover;
    }

    .left-header .image img {
        position: relative;
        width: 90% !important;
        height: 100% !important;
    }

    .portfolios {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 6rem;
        padding-right: 100px;
    }
    .right-about {
        // grid-template-columns: 1fr;
        // padding: 0 3rem;
        // padding-top: 2.5rem;
        .about-item .abt-text .small-text {
            padding-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .header-content {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        .name {
            font-size: 20px;
        }
    }
    #about {
        font-size: 10px;
    }

    .right-about {
        transform: translateX(-10%);
    }
    .about-stats h4 {
        transform: translateX(-15%);
        font-size: 40px;
    }
    .about-container .left-about {
        margin-bottom: 10px;
        margin: 10px;
        margin-right: 14px;
        font-size: 10px;
        list-style-type: disc;
        padding-bottom: 15px;

        ul li {
            list-style: circle;
            font-size: 9px !important;
            margin: 10px;
        }
    }

    #portfolio {
        padding: 0px;
        margin: 0px;
        .main-title {
            margin: 10px;
            margin-left: 0px;
            margin-right: 14px;
            span {
                font-size: 60px;
                padding: 10px;
                margin: 13px;
            }
            .bg-text {
                font-size: 100px;
            }
        }
    }

    #contact {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        .main-title {
            margin: 10px;
            margin-left: 0px;
            margin-right: 14px;
            span {
                font-size: 40px;
                padding-top: 15px;
                padding-bottom: 5px;
            }
            .bg-text {
                font-size: 100px;
                padding-top: 40px;
            }
        }
        .contact-content-con .left-contact h4 {
            transform: translateX(35%);
            font-size: 20px;
        }
        p {
            padding: 10px;
            margin: 10px;
        }
        .contact-item {
            .icon p {
                padding: 5px;
                margin: 5px;
            }
        }
        .contact-icons {
            transform: translateX(17%);
            padding: 10px;
            padding-top: 15px;
            .contact-icon {
                a {
                    background-color: var(--color-secondary);
                    padding: 0 10px;
                    border-radius: 100px;
                    width: 30px;
                    height: 30px;
                    padding-top: 7px;
                    margin: 0 10px;
                    i {
                        font-size: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .contact-content-con .right-contact{
            padding-top: 10px;
            transform: translateX(-10%);
            flex: 3;
            margin-left: 3rem;
            input,
            textarea {
                border-radius: 30px;
                background-color: var(--color-grey-5);
                border: none;
                padding: 0.8rem;
                color: var(--color-white);
                margin: 0.5rem;
                width: 20rem;
                resize: none;
                outline: none;
            }
        }
    }
}
